{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <h1>Index</h1>

    {% form_theme search_form 'BlogBundle::fields.html.twig' %}
    {{ form_start(search_form) }}
    {{ form_end(search_form) }}

    <a href="{{ path('blog_articles') }}">Tous les articles</a>

Les 5 derniers articles
    <ul>
        {% for article in articles %}
            <li><a href="{{ path('blog_article', {'id': article.id}) }}">{{ article.name }}</a></li>
        {% else %}
            <li>No articles found</li>
        {% endfor %}
    </ul>
{% endblock %}

